<section class="bg-white py-28 text-center relative overflow-hidden">
  <div class="container mx-auto px-4">
    <div class="mx-auto max-w-4xl">
      <h1 class="text-5xl md:text-5xl font-bold text-gray-900 mb-6 leading-tight">The fastest way to build full-stack
        Angular apps using
        <span
          class="bg-gradient-to-r from-pink-700 via-pink-500 to-purple-500 bg-clip-text text-transparent">ngXpress</span>
      </h1>
      <div class="max-w-2xl mx-auto">
        <p class="text-xl md:text-xl text-muted-foreground mb-10">The full-stack Angular starter kit with SSR, Auth,
          Prisma, Tailwind, and more. Free, open-source, and production-ready.</p>
      </div>

      <div class="flex flex-col sm:flex-row justify-center gap-4">
        <a href="#"
          class="bg-primary text-primary-foreground px-5 py-2 rounded-md font-semibold shadow hover:bg-primary/90 transition text-base">Get
          Started</a>
        <a href="https://github.com/angularcafe/ngxpress" target="_blank"
          class="bg-gray-100 text-gray-900 px-5 py-2 rounded-md font-semibold border border-gray-200 hover:bg-gray-200 transition text-base">Star
          on GitHub</a>
      </div>
    </div>
  </div>
</section>